/* Style of the payment page */

.container-1 {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  animation: fade-in 0.5s ease-in-out;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.btn-group button {
  background-color: #476072;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-group button:hover {
  background-color: #10215d;
}

.cardPayment {
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  animation: fade-in 0.5s ease-in-out;
  padding: 15px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.form-control:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.btn-success {
  background-color: #476072;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-success:hover {
  background-color: #10215d;
} /* end payment style */

/* heroCart */
.seoLanding {
  background-color: #f8f8f8;
  padding: 50px 0;
  text-align: center;
}

.banner {
  margin-bottom: 20px;
}

.bannerMessaging h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.heroSubheader {
  font-size: 20px;
  margin-bottom: 15px;
}

.headerImg1 {
  max-width: 100%;
  height: auto;
}

.deliveryBenefitsSection {
  margin-top: 40px;
}

.headerImgWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* end heroCart */

/* style for the cartPage */
.cart-items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Three columns with equal width */
  grid-gap: 20px; /* Space between columns and rows */
}

.cart-item-container:hover {
  transform: scale(1.05); /* Increase the size of the item on hover */
  cursor: pointer; /* Change the cursor to a pointer on hover */
}

@keyframes fly-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.cart-item {
  animation: fly-in 0.5s ease-in-out; /* Apply the 'fly-in' animation to the item */
}

.card-bodyCart {
  text-align: center;
  margin-bottom: 10px;
}

.card-img-top {
  max-height: 400px;
  object-fit: contain;
  margin-bottom: 15px;
}

.card {
  max-width: 100%;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  animation: fade-in 0.5s ease-in-out;
  margin-left: 20px;
}
/* End style for the cartPage */

/*** Section Title ***/
/* in about section */
.section-title {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: 30px;
  /* margin-bottom: 30px; */
}

.section-title::before {
  position: absolute;
  content: "";
  width: calc(100% + 80px);
  height: 2px;
  top: 4px;
  left: -40px;
  background: #06bbcc;
  z-index: -1;
}

.section-title::after {
  position: absolute;
  content: "";
  width: calc(100% + 120px);
  height: 2px;
  bottom: 5px;
  left: -60px;
  background: #06bbcc;
  z-index: -1;
}

.section-title.text-start::before {
  width: calc(100% + 40px);
  left: 0;
}

.section-title.text-start::after {
  width: calc(100% + 60px);
  left: 0;
}

/* End style of the payment info */

/* Style of h1 that appear in the cart page when no car selected */
.notInCart {
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  background-color: #fff;
  animation: fadeIn 1s ease-out;
  margin-bottom: 20px;
  max-width: 500px;
  margin: 0 auto 20px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-out;
}

.btn:hover {
  background-color: #0056b3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
